/* Background and layout */
body {
  margin: 0;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  background: url('650chespin1920x1200.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  animation: fadeInBody 1s ease-in;
}

header img {
  max-height: 200px;
  margin: 0.5rem;
}

/* Sections */
section {
  margin-bottom: 2rem;
  animation: fadeInSection 1.5s ease;
}

h3 {
  font-size: 1.4rem;
  color: #80cbc4;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #4db6ac;
  padding-bottom: 0.3rem;
}
.links {
   font-size: 1.4rem;
  color: #64d81f;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #4db6ac;
  padding-bottom: 0.3rem;
  background-color: brown;
{
a:hover {
  color: #ff7043;
  text-decoration: underline;
}
.image {
  background-size: cover;
  background-position: center;
  height: 25px !important;
  width: 25px !important;
}
body, html {
  height: 100%;
  margin: 0; /* Removes default body margin */
}
.container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.centered-element {
  width: 200px;
  height: 200px;
  background-color: brown;
  text-align: center;
  padding: 20px;
  opacity: 0.7;
}

@keyframes fadeInSection {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
